<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/comment.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/comment.css" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>  
</head>
  <body>
    <% include partials/_header %>
      <h1>Computer Science:</h1>
      <main class="container">
        <div class="row">
          <% for(var url in urls) { %>
              
            <div class="col-lg-4">
                <figure class="thisfig">
                    <img src="<%= urls[url].image %>" alt="sample8" />
                    <figcaption>
                        <h2>Name: <span><%= urls[url].name %></span></h2>
                        <a href="<%= urls[url].title %>">weblink</a>
                        <div class="icons">
                            <button  class="commentbtn" type="button"><i class="fas fa-edit"></i>Comment</button>
                            <button  class="button" type="button"><i class="fas fa-thumbs-up"></i>Like
                              <% for(var like in likes) { %>
                                  <%if(likes[like].url_id === urls[url].id){%>
                                      <%= likes[like].count%>
                                  <% } %>
                              <% } %>
                              </button>
                            <button  class="button" type="button"><i class="fas fa-star"></i>Rate
                              <% for(var rate in rates) { %>
                                  <%if(rates[rate].url_id === urls[url].id){%>
                                      <%= Math.round(rates[rate].avg)%>
                                  <% } %>
                              <% } %>
                          </button>
                        </div>
                    </figcaption>
                </figure>
                <section class="comment" id="cmt-$i">
                    <div>
                          <% for(var comment in comments) { %>
                              <%if(comments[comment].url_id === urls[url].id){%>
                                 <li><%= comments[comment].text%></li> 
                              <% } %>
                          <% } %>
                    </div>
                  <form id="submit-comment" action="/comment" method="POST" data-url="<%= urls[url].title %>">
                    <textarea name="text" placeholder="What would you like to comment?" id="cmtcontent"></textarea>
                    <input type="submit" value="send">
                    <span class="counter">150</span>
                    <div class="alert-warning">
                      <strong>Please Put Some Text Message!</strong>
                    </div>
                    <div class="alert-danger">
                      <strong>You Have Exceeds 150 Characters!</strong>
                    </div>
                  </form>
            </section>                  
            </div>
            
          <% } %>
    </main>
  </body>
</html>
